<main>
  <div class="content-wrapper">
    <nav>
      <ul class="sub-navigation">
        <li><a href="#nolink" class="current">Account</a></li>
        <li><%= link_to('Goals', account_goals_path) %></li>
        <li><a href="#nolink">Ideas</a></li>
        <li><a href="#nolink">Following</a></li>
      </ul>
    </nav>
    <h1>
      Account details
      <img class="avatar" src="<%= current_user.avatar_url %>">
    </h1>
    <%= form_for(current_user, url: account_path, html: { class: 'form--inpage' }) do |form| %>
      <div class="input-group input-group--horizontal">
        <%= form.label(:email, class: 'input-group__label') %>
        <%= form.text_field(:email, class: 'input-group__field', placeholder: 'e.g. me@epfl.cha') %>
      </div>
      <div class="input-group input-group--horizontal">
        <%= form.label(:name, class: 'input-group__label') %>
        <%= form.text_field(:name, class: 'input-group__field', placeholder: 'e.g. Diana Prince') %>
      </div>
      <div class="input-group input-group--horizontal">
        <%= form.label(:avatar, class: 'input-group__label') %>
        <%= form.file_field(:avatar, class: 'input-group__field') %>
      </div>
      <div class="prompt">
        <a class="prompt__cancel" href="#cancel">Cancel</a>
        <%= form.submit('Update account', class: 'btn btn--primary prompt__confirm') %>
      </div>
    <% end %>
  </div>
</main>
