<div class="card">
  <div class="card__thumb">
    <%= link_to(idea_path(idea)) do %>
      <%= render(partial: 'idea_photo', locals: { photo_url: photo_url }) %>
    <% end %>
    <div class="card__intro">
      <h4 class="card__title"><%= card_title %></h4>
      <span><%= done_count %> have done this</span>
    </div>
  </div>
  <div class="card__footer">
    <button class="card__btn card__like delta" data-like="see-the-northern-lights">
      <svg class="icon-heart icon-heart--liked" role="presentation">
        <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#heart") %>"></use>
      </svg>
      Like
    </button>
    <% if(logged_in?) %>
      <%= form_tag(user_goals_path(current_user), remote: true, id: "goal-#{idea.id}") do %>
        <%= hidden_field_tag(:idea_id, idea.id) %>
        <%= button_tag(class: 'card__btn card__add delta', type: 'submit') do %>
          <svg class="icon-pluss" role="presentation">
            <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#pluss") %>"></use>
          </svg>
          Add Goal
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
