<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header>
      <div class="site-header">
        <div class="content-wrapper">
          <div class="logo">
            <%= link_to('<span><i>My</i> Bucket List</span>'.html_safe, root_path) %>
          </div>
          <%= render(partial: 'search_form') %>
          <nav class="site-header__nav">
            <ul class="main-navigation">
              <li><a href="#nolink">Inspiration</a></li>
              <li><%= link_to('Account', account_ideas_path) %></li>
              <li><a href="#nolink">Log In</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="site-footer">
      <div class="content-wrapper">
        <div class="logo logo--inverted footer__logo">
          <%= link_to('<span><i>My</i> Bucket List</span>'.html_safe, root_path) %>
        </div>
        <nav class="footer__navigation">
          <ul>
            <li><a href="#nolink">About</a></li>
            <li>
              <%= link_to('Style Guide', styles_atoms_path) %>
            </li>
            <li><a href="#nolink">Terms of Use</a></li>
          </ul>
        </nav>
        <p class="copyright">&copy; EPFL 2017</p>
      </div>
    </footer>

  </body>
</html>
